.FormDialog-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0em;
  z-index: 8;
  margin-top: -3px;
  background-image: linear-gradient(
    to bottom,
    rgb(160, 160, 160, 1),
    rgb(160, 160, 160, 0.95),
    rgb(160, 160, 160, 0.9),
    rgb(160, 160, 160, 0.85),
    rgb(160, 160, 160, 0.8)
  );
}

.vv {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.formholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #141414;
}
