.text-align-right {
  text-align: right;
  padding: 0px;
}
.text-superstarz-dark-colorA {
  color: #ffffff;
}

.text-superstarz-dark-colorB {
  color: #f7f7f7;
}

.text-superstarz-light-colorA {
  color: #0b1728;
}

.text-superstarz-light-colorB {
  color: #0c1829;
}
