.emotionspostPC {
  width: 28%;
}

.emotionspostTablet {
  width: 22%;
}

.emotionspostMOBILE {
  width: 32%;
}

.usernamePc {
  padding: 10px;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 2.1vw;
}

.usernameMobile {
  padding: 7px;
  border-radius: 4.5px;
  font-weight: bolder;
  font-size: 3vh;
}

.usernameTablet {
  padding: 12px;
  border-radius: 9px;
  font-weight: bolder;
  font-size: 3.6vh;
}

.namePc {
  padding: 5px;
  border-radius: 4px;
  font-weight: bolder;
  color: #000000;
  font-size: 1.2vw;
}

.nameMobile {
  padding: 6px;
  border-radius: 4.2px;
  font-weight: bolder;
  color: #000000;
  font-size: 1.8vh;
}

.nameTablet {
  padding: 8px;
  border-radius: 6px;
  font-weight: bolder;
  color: #000000;
  font-size: 2.1vh;
}

.favPc {
  border-radius: 4px;
  color: #ffffff;
}

.favMobile {
  border-radius: 4.2px;

  color: #ffffff;
}

.favTablet {
  border-radius: 6px;

  color: #ffffff;
  font-size: 2.1vh;
}

.fanPc {
  margin-left: -20vw;
  border-radius: 4px;
  color: #ffffff;
}

.fanMobile {
  margin-left: -38vw;
  border-radius: 4.2px;
  color: #ffffff;
}

.fanTablet {
  margin-left: -31vw;
  border-radius: 4px;
  color: #ffffff;
}

.profile-optionsImagePc {
  position: absolute;
  margin: auto;
  margin-left: -0.5vw;
  top: 0.9vh;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}

.profile-optionsImageTablet {
  position: absolute;
  margin: auto;
  left: -3.1vw;
  top: 1vh;
  height: 98px;
  width: 98px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}

.profile-optionsImageMobile {
  position: absolute;
  margin: auto;
  left: -1.8vw;
  top: -1vh;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}

.showMenu {
  z-index: 11;
  animation: name-of-animation 0.5s;
}

@keyframes name-of-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hideMenu {
  z-index: 0;
  opacity: 0;
}

.optionsTop-background-dark {
  background-image: linear-gradient(
    to bottom,
    rgb(010, 010, 010, 0.99),
    rgb(010, 010, 010, 0.98),
    rgb(010, 010, 010, 0.97),
    rgb(010, 010, 010, 0.96),
    rgb(010, 010, 010, 0.95),
    rgb(010, 010, 010, 0.94),
    rgb(010, 010, 010, 0.93),
    rgb(010, 010, 010, 0.92),
    rgb(010, 010, 010, 0.91),
    rgb(010, 010, 010, 0.9),
    rgb(010, 010, 010, 0.89),
    rgb(010, 010, 010, 0.88),
    rgb(015, 015, 015, 0.87),
    rgb(010, 010, 010, 0.86),
    rgb(010, 010, 010, 0.85),
    rgb(010, 010, 010, 0.84),
    rgb(010, 010, 010, 0.83),
    rgb(010, 010, 010, 0.82),
    rgb(010, 010, 010, 0.81),
    rgb(010, 010, 010, 0.8),
    rgb(010, 010, 010, 0.79),
    rgb(010, 010, 010, 0.78),
    rgb(010, 010, 010, 0.76),
    rgb(010, 010, 010, 0.73),
    rgb(010, 010, 010, 0.7),
    rgb(010, 010, 010, 0.66),
    rgb(010, 010, 010, 0.61),
    rgb(010, 010, 010, 0.56),
    rgba(010, 010, 010, 0.5),
    rgb(010, 010, 010, 0.45),
    rgb(010, 010, 010, 0.4),
    rgb(010, 010, 010, 0.35),
    rgb(010, 010, 010, 0.3),
    rgb(010, 010, 010, 0.25),
    rgb(010, 010, 010, 0.2),
    rgb(010, 010, 010, 0.17),
    rgb(010, 010, 010, 0.13),
    rgb(010, 010, 010, 0.11),
    rgb(010, 010, 010, 0.09),
    rgb(010, 010, 010, 0.08),
    rgb(010, 010, 010, 0.07),
    rgb(010, 010, 010, 0.06),
    rgb(010, 010, 010, 0.05),
    rgb(010, 010, 010, 0.03),
    rgb(010, 010, 010, 0.02),
    rgb(010, 010, 010, 0.01),
    rgb(010, 010, 010, 0)
  );
}

.optionsTop-background-light {
  background-image: linear-gradient(
    to bottom,
    rgb(183, 183, 183, 0.99),
    rgb(183, 183, 183, 0.98),
    rgb(183, 183, 183, 0.97),
    rgb(183, 183, 183, 0.96),
    rgb(183, 183, 183, 0.95),
    rgb(183, 183, 183, 0.94),
    rgb(183, 183, 183, 0.93),
    rgb(183, 183, 183, 0.92),
    rgb(183, 183, 183, 0.91),
    rgb(183, 183, 183, 0.9),
    rgb(183, 183, 183, 0.89),
    rgb(183, 183, 183, 0.88),
    rgb(183, 183, 183, 0.87),
    rgb(183, 183, 183, 0.86),
    rgb(183, 183, 183, 0.85),
    rgb(183, 183, 183, 0.84),
    rgb(183, 183, 183, 0.83),
    rgb(183, 183, 183, 0.82),
    rgb(183, 183, 183, 0.81),
    rgb(183, 183, 183, 0.8),
    rgb(183, 183, 183, 0.79),
    rgb(183, 183, 183, 0.78),
    rgb(183, 183, 183, 0.76),
    rgb(183, 183, 183, 0.73),
    rgb(183, 183, 183, 0.7),
    rgb(183, 183, 183, 0.66),
    rgb(183, 183, 183, 0.61),
    rgb(183, 183, 183, 0.56),
    rgba(183, 183, 183, 0.5),
    rgb(183, 183, 183, 0.45),
    rgb(183, 183, 183, 0.4),
    rgb(183, 183, 183, 0.35),
    rgb(183, 183, 183, 0.3),
    rgb(183, 183, 183, 0.25),
    rgb(183, 183, 183, 0.2),
    rgb(183, 183, 183, 0.17),
    rgb(183, 183, 183, 0.13),
    rgb(183, 183, 183, 0.11),
    rgb(183, 183, 183, 0.09),
    rgb(183, 183, 183, 0.08),
    rgb(183, 183, 183, 0.07),
    rgb(183, 183, 183, 0.06),
    rgb(183, 183, 183, 0.05),
    rgb(183, 183, 183, 0.03),
    rgb(183, 183, 183, 0.02),
    rgb(183, 183, 183, 0.01),
    rgb(183, 183, 183, 0)
  );
}
