.emotionspostPC {
  width: 3%;
  opacity: 0.7;
  margin-left: 92.8%;
}

.emotionspostTablet {
  width: 4.4%;
  opacity: 0.7;
  margin-left: 92.45%;
}

.emotionspostMOBILE {
  width: 5.8%;
  opacity: 0.7;
  margin-left: 90.45%;
}

.usernamePc {
  padding: 10px;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 2.1vw;
}

.usernameMobile {
  padding: 7px;
  border-radius: 4.5px;
  font-weight: bolder;
  font-size: 3vh;
}

.usernameTablet {
  padding: 12px;
  border-radius: 9px;
  font-weight: bolder;
  font-size: 3.6vh;
}

.namePc {
  padding: 5px;
  border-radius: 4px;
  font-weight: bolder;
  color: #000000;
  font-size: 1.2vw;
}

.nameMobile {
  padding: 6px;
  border-radius: 4.2px;
  font-weight: bolder;
  color: #000000;
  font-size: 1.8vh;
}

.nameTablet {
  padding: 8px;
  border-radius: 6px;
  font-weight: bolder;
  color: #000000;
  font-size: 2.1vh;
}

.favPc {
  border-radius: 4px;
  color: #ffffff;
}

.favMobile {
  border-radius: 4.2px;

  color: #ffffff;
}

.favTablet {
  border-radius: 6px;

  color: #ffffff;
  font-size: 2.1vh;
}

.fanPc {
  margin-left: -20vw;
  border-radius: 4px;
  color: #ffffff;
}

.fanMobile {
  margin-left: -38vw;
  border-radius: 4.2px;
  color: #ffffff;
}

.fanTablet {
  margin-left: -31vw;
  border-radius: 4px;
  color: #ffffff;
}

.profile-optionsImagePc {
  position: absolute;
  margin: auto;
  margin-left: -0.5vw;
  top: 0.9vh;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}

.profile-optionsImageTablet {
  position: absolute;
  margin: auto;
  left: -3.1vw;
  top: 1vh;
  height: 98px;
  width: 98px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}

.profile-optionsImageMobile {
  position: absolute;
  margin: auto;
  left: -1.8vw;
  top: -1vh;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
}
