/*      */

/*       */

/*  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  */
.app-little-text-typography {
  font-weight: normal;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 12px;
}

.app-paper-style {
  height: 100vh;
  text-align: center;
}
/*  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  A  */

/*  B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B  */

.Background-header-light {
  background-image: linear-gradient(
    to bottom,
    rgba(160, 160, 160, 1),
    rgba(160, 160, 160, 0.95),
    rgba(160, 160, 160, 0.9),
    rgba(160, 160, 160, 0.85),
    rgba(160, 160, 160, 0.8),
    rgba(160, 160, 160, 0.75),
    rgba(160, 160, 160, 0.7),
    rgba(160, 160, 160, 0.65),
    rgba(160, 160, 160, 0.6),
    rgba(160, 160, 160, 0.55),
    rgba(160, 160, 160, 0.5),
    rgba(160, 160, 160, 0.45),
    rgba(160, 160, 160, 0.4),
    rgba(160, 160, 160, 0.35),
    rgba(160, 160, 160, 0.3),
    rgba(160, 160, 160, 0.25),
    rgba(160, 160, 160, 0.2),
    rgba(160, 160, 160, 0.15),
    rgba(160, 160, 160, 0.1),
    rgba(160, 160, 160, 0.075),
    rgba(160, 160, 160, 0.05),
    rgba(160, 160, 160, 0.025),
    rgba(160, 160, 160, 0)
  );
}

.Background-header-dark {
  background-image: linear-gradient(
    to bottom,
    rgba(51, 53, 53, 1),
    rgba(51, 53, 53, 0.95),
    rgba(51, 53, 53, 0.9),
    rgba(51, 53, 53, 0.85),
    rgba(51, 53, 53, 0.8),
    rgba(51, 53, 53, 0.75),
    rgba(51, 53, 53, 0.7),
    rgba(51, 53, 53, 0.65),
    rgba(51, 53, 53, 0.6),
    rgba(51, 53, 53, 0.55),
    rgba(51, 53, 53, 0.5),
    rgba(51, 53, 53, 0.45),
    rgba(51, 53, 53, 0.4),
    rgba(51, 53, 53, 0.35),
    rgba(51, 53, 53, 0.3),
    rgba(51, 53, 53, 0.25),
    rgba(51, 53, 53, 0.2),
    rgba(51, 53, 53, 0.15),
    rgba(51, 53, 53, 0.1),
    rgba(51, 53, 53, 0.075),
    rgba(51, 53, 53, 0.05),
    rgba(51, 53, 53, 0.025),
    rgba(51, 53, 53, 0)
  );
}

.buttonshake:active {
  position: relative;
  top: 4px;
}
.buttonpad {
  padding-top: 40px;
}
/*  B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B B  B B  */

/*  C  C  C   C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C*/

.center-content-vertically {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centeranything {
  -ms-transform: translateY(42%);
  transform: translateY(42%);
}
.containerapp {
  align-items: center;
  width: 100%;
  align-content: center;
  position: fixed;
  top: 10vh;
  z-index: 0;
  padding: 0px;
}
.containerappmobile {
  align-items: center;
  width: 100%;
  align-content: center;
  position: fixed;
  top: 20.2vh;
  z-index: 0;
  padding: 0px;
}

.containerapptablet {
  align-items: center;
  width: 100%;
  align-content: center;
  position: fixed;
  top: 19vh;
  z-index: 0;
  padding: 0px;
}

.caption-dark {
  text-shadow: 1.5px 3px 2.5px #222222;
  height: auto;
  background-color: rgba(005, 005, 005, 0.2);
  -moz-box-shadow: 0 0 3.5px#222222;
  -webkit-box-shadow: 0 0 3.5px#222222;
  box-shadow: 0 0 3.5px#222222;
}

.caption-light {
  text-shadow: 0.3px 0.5px 1px rgba(11, 23, 40, 0.52);
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 5px#cccccc;
  -webkit-box-shadow: 0 0 5px#cccccc;
  box-shadow: 0 0 5px#cccccc;
}

.centericon {
  margin: auto;
}

.containerloginpc {
  padding-left: 0px;
  padding-right: 0px;
}

.containerloginmobile {
  padding-left: 22%;
  padding-right: 22%;
}

.center-content-vertically {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*  C  C  C   C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C C  C  C*/

/*    D D  D    D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D   */
.dontallowhighlighting {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.dontallowhighlighting::-moz-selection {
  background: transparent;
  outline: none;
}
.dontallowhighlighting::selection {
  background: transparent;
  outline: none;
}

.displayoff {
  display: none;
}

.display-off {
  display: none;
}
.display-on {
  display: flex;
}

/*    D D  D    D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D  D  D D   */

/*    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E   */
.element-bop {
  display: block;
  -webkit-animation: element-bop-keyframe 0.5s infinite; /* Safari 4+ */
  -moz-animation: element-bop-keyframe 0.5s infinite; /* Fx 5+ */
  -o-animation: element-bop-keyframe 0.5s infinite; /* Opera 12+ */
  animation: element-bop-keyframe 0.5s infinite; /* IE 10+, Fx 29+ */
}
@keyframes element-bop-keyframe {
  0% {
    margin-right: -4.5px;
    font-size: 250%;
  }
  30% {
    margin-right: -11.5px;
    font-size: 100%;
  }
  100% {
    margin-right: -20.5px;
    font-size: 160%;
  }
}

.element-bopStop {
  display: none;
}

/*    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E    E E  E   */

/*  F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F     */

.fadeboyin {
  -webkit-animation: fadeboyin-keyframe 5s linear 1 forwards; /* Safari 4+ */
  -moz-animation: fadeboyin-keyframe 5s linear 1 forwards; /* Fx 5+ */
  -o-animation: fadeboyin-keyframe 5s linear 1 forwards; /* Opera 12+ */
  animation: fadeboyin-keyframe 5s linear 1 forwards; /* IE 10+, Fx 29+ */
}

@keyframes fadeboyin-keyframe {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }

  65% {
    opacity: 0.1;
  }

  75% {
    opacity: 0.5;
  }

  85% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

/*  F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F   F F F     */

/*   H H  H  H  H  H   H  H  H   H  H  H   H  H  H   H  H  H   H  H  H   H  H  H   H  H  H   H  H  H     */
.heartbeat {
  -webkit-animation: heartbeat-keyframe 0.5s infinite; /* Safari 4+ */
  -moz-animation: heartbeat-keyframe 0.5s infinite; /* Fx 5+ */
  -o-animation: heartbeat-keyframe 0.5s infinite; /* Opera 12+ */
  animation: heartbeat-keyframe 0.5s infinite; /* IE 10+, Fx 29+ */
}
@keyframes heartbeat-keyframe {
  0% {
    margin-top: -4.5px;
    margin-right: 4px;
    font-size: 250%;
  }
  30% {
    margin-top: -2px;
    font-size: 200%;
  }
  100% {
    font-size: 160%;
  }
}

/*  H  H  H    H  H  H   H  H  H   H  H  H   H  H  H   H  H  H   H  H  H   H  H  H   H  H  H   H  H  H     */

/*  I  I  I   I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I */

.iconPc {
  object-fit: contain;
  width: 60%;
  transition: 0.5s transform ease-in;
  cursor: pointer;
}
.iconPc:hover {
  transition: 560ms transform ease-in;
  transform: scale(1.06);
}

.iconPc:active {
  transition: 200ms transform ease-in;
  transform: scale(0.94);
}

.iconTablet {
  object-fit: contain;
  width: 84%;
  transition: 0.5s transform ease-in;
  cursor: pointer;
}
.iconTablet:hover {
  transition: 560ms transform ease-in;
  transform: scale(1.06);
}

.iconTablet:active {
  transition: 200ms transform ease-in;
  transform: scale(0.94);
}

.iconMobile {
  object-fit: contain;
  width: 84%;
  transition: 0.5s transform ease-in;
}
.iconMobile:hover {
  transition: 560ms transform ease-in;
  transform: scale(1.06);
}

.iconMobile:active {
  transition: 200ms transform ease-in;
  transform: scale(0.94);
}

.icon-color-light {
  -webkit-filter: drop-shadow(1px 0.1px 1px rgba(11, 23, 40, 0.3));
  filter: drop-shadow(1px 0.1px 1px rgba(11, 23, 40, 0.3));
  color: #000000;
  opacity: 0.8;
}

.icon-color-dark {
  -webkit-filter: drop-shadow(1.2px 0.1px 1.92px rgba(255, 255, 255, 0.4));
  filter: drop-shadow(1.2px 0.1px 1.92px rgba(255, 255, 255, 0.4));
  color: #ffffff;
}

/*  I  I  I   I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I I  I  I */

/*   L L  L     L L  L   L L  L   L L  L   L L  L   L L  L   L L  L   L L  L   L L  L   */

.littletext-Mobile {
  font-size: 1.8vh;
  margin-left: 3.5px;
  transition: opacity 1.5s;
  font-weight: bold;
}

.littletext-Tablet {
  font-size: 2.1vw;
  transition: opacity 1.5s;
  font-weight: bold;
}

.littletext-Pc {
  font-size: 1.05vw;
  transition: opacity 1.5s;
  font-weight: bold;
}

.logbuttonspace {
  padding: 6px;
}

.littletext-outter {
  height: 13vh;
}

/*   L L  L     L L  L   L L  L   L L  L   L L  L   L L  L   L L  L   L L  L   L L  L   */

/*  M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M      */

.make-small-icons-clickable-neutral {
  color: #999999;
  cursor: pointer;
  padding: 5px;
  transition: 140ms transform ease-in;
  transform: scale(1.5);
}

.make-small-icons-clickable-neutralB {
  color: #999999;
  cursor: pointer;
  padding: 5px;
  transition: 140ms transform ease-in;
  transform: scale(0.38);
}

.make-small-icons-clickable-light {
  -webkit-filter: drop-shadow(1px 0.1px 1px rgba(11, 23, 40, 0.35));
  filter: drop-shadow(1px 0.1px 1px rgba(11, 23, 40, 0.35));
  color: #000000;
  cursor: pointer;
  padding: 5px;
  transition: 140ms transform ease-in;
  transform: scale(1.6);
}

.make-small-icons-clickable-light:hover {
  background-color: rgba(000, 000, 005, 0.2);
  border-radius: 25px;
  padding: 5px;
  transition: 140ms transform ease-in;
  transform: scale(1.9);
}

.make-small-icons-clickable-light:active {
  transition: 200ms transform ease-in;
  transform: scale(1.2);
}

.make-small-icons-clickable-dark {
  -webkit-filter: drop-shadow(1.2px 0.1px 1.92px rgba(255, 255, 255, 0.4));
  filter: drop-shadow(1.2px 0.1px 1.92px rgba(255, 255, 255, 0.4));
  color: #ffffff;
  padding: 5px;
  cursor: pointer;
  transition: 140ms transform ease-in;
  transform: scale(1.6);
}

.make-small-icons-clickable-dark:hover {
  background-color: rgba(225, 225, 225, 0.2);
  border-radius: 25px;
  padding: 5px;
  transition: 140ms transform ease-in;
  transform: scale(1.9);
}

.make-small-icons-clickable-dark:active {
  transition: 200ms transform ease-in;
  transform: scale(1.2);
}

.make-plainIcons-clickable {
  padding: 5px;
  cursor: pointer;
  transition: 140ms transform ease-in;
  transform: scale(1.6);
}

.make-plainIcons-clickable:hover {
  padding: 5px;
  transition: 140ms transform ease-in;
  transform: scale(1.9);
}

.make-plainIcons-clickable:active {
  transition: 200ms transform ease-in;
  transform: scale(1.2);
}

.modalImageCustomSlider::-webkit-scrollbar {
  width: 15px;
  scroll-behavior: smooth;
  cursor: default;
}

/* Handle */
.modalImageCustomSlider::-webkit-scrollbar-thumb {
  height: auto;
  border-radius: 1px;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #eeeeee,
    #eeeeee,
    #eeeeee,
    #eeeeee,
    #ffffff
  );
  cursor: default;
  box-shadow: inset 0 0 4.8px rgba(0, 0, 0, 0.6);
  scroll-behavior: smooth;
}

.modalImageCustomSlider::-webkit-scrollbar-thumb:window-inactive {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #eeeeee,
    #eeeeee,
    #eeeeee,
    #eeeeee,
    #ffffff
  );
  scroll-behavior: smooth;
  cursor: default;
}

.modalImageCustomSlider {
  scroll-behavior: smooth;
  cursor: default;
}

/*  M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M   M M M      */

/*   S S S    S S S   S S S   S S S   S S S   S S S   S S S   S S S   S S S   S S S   S S S    */

.sll {
  transition: all 4s ease;
  transform: rotate(-360px);
}

.supercheck-options-dark {
  position: relative;
  margin: auto;
  left: -11.5%;
  top: -26vh;
  background-color: rgba(51, 53, 53, 0.96);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
  color: #bbbbbb;
}

.supercheck-options-light {
  position: relative;
  margin: auto;
  left: -11.5%;
  top: -26vh;
  background-color: rgba(220, 220, 220, 0.92);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: grid;
  justify-content: center;
  color: #777777;
}

.super-starz-text-Mobile {
  font-family: kaushan_scriptregular;
  font-size: 3.1vh;
  font-weight: bolder;
  transition: opacity 1.5s;
  margin-left: -3px;
}

.super-starz-text-Tablet {
  font-family: kaushan_scriptregular;
  font-size: 3.8vw;
  font-weight: bolder;
  transition: opacity 1.5s;
  margin-left: -8px;
}

.super-starz-text-Pc {
  font-family: kaushan_scriptregular;
  font-size: 2.15vw;
  font-weight: bolder;
  transition: opacity 1.5s;
}
/*   S S S    S S S   S S S   S S S   S S S   S S S   S S S   S S S   S S S   S S S   S S S    */

/*   T T T   T T T   T T T   T T T   T T T   T T T   T T T   T T T   T T T   T T T T T T  T T T */
.tur {
  height: auto;
  -moz-box-shadow: 0 0 16px#00ccff;
  -webkit-box-shadow: 0 0 16px#00ccff;
  box-shadow: 0 0 16px#00ccff;
}
.turlight {
  height: auto;

  -moz-box-shadow: 0 0 6px#dddddd;
  -webkit-box-shadow: 0 0 6px#dddddd;
  box-shadow: 0 0 6px#dddddd;
}

.turdark {
  height: auto;

  -moz-box-shadow: 0 0 7px#222222;
  -webkit-box-shadow: 0 0 7px#222222;
  box-shadow: 0 0 7px#222222;
}

.text-superstarz-dark {
  text-align: center;
  -webkit-filter: drop-shadow(1.9px 0.1px 1.9px rgba(255, 255, 255, 0.4));
  filter: drop-shadow(1.9px 0.1px 1.9px rgba(255, 255, 255, 0.4));
}

.text-superstarz-light {
  text-align: center;
  -webkit-filter: drop-shadow(1.9px 0.1px 1.6px rgba(11, 23, 40, 0.35));
  filter: drop-shadow(1.9px 0.1px 1.6px rgba(11, 23, 40, 0.35));
}

/*   T T T   T T T   T T T   T T T   T T T   T T T   T T T   T T T   T T T   T T T T T T  T T T */

/*   Z Z  Z   Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z   */
.zuperking {
  -webkit-filter: drop-shadow(1.9px 1.1px 3.3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1.9px 1.1px 3.3px rgba(0, 0, 0, 0.5));
  color: #ffffff;
}

/*   Z Z  Z   Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z Z Z  Z   */
