@font-face {
  font-family: "kaushan_scriptregular";
  src: url("./font-kaushan/kaushanscript-regular-webfont.woff2") format("woff2"),
    url("./font-kaushan/kaushanscript-regular-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: contain;
}

body::-webkit-scrollbar {
  display: none;
}

.track-vertical {
  z-index: 2;
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 2.2px;
}
.track-vertical .thumb-verticalLIGHT {
  position: relative;
  display: block;
  cursor: default;
  border-radius: inherit;
}

.track-vertical .thumb-verticalDARK {
  position: relative;
  display: block;
  cursor: default;
  border-radius: inherit;
}

.track-horizontal {
  position: absolute;

  right: 2px;
  bottom: 2px;
  left: 2px;
  border-radius: 3px;
}
.track-horizontal .thumb-horizontal {
  position: relative;
  display: block;

  cursor: pointer;
  border-radius: inherit;
}

.view {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
  margin-right: -15px;
  margin-bottom: -17px !important;
}

.gallery {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  gap: 0;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  padding: 0 0.1px;
}
